<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RP Flask REST API</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="jumbotron text-center">
    <h1>
        Hello, People!
    </h1>
    </div>
    {% for person in people %}
    <h2><a href="people/{{person.id}}">{{ person.fname }} {{ person.lname }}</a></h2>
    <ul>
        {% for note in person.notes %}
        <li>
            <a href="people/{{person.id}}/notes/{{note.id}}">{{ note.id }}. {{ note.content }}</a>
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
