<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RP Flask REST API</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="jumbotron text-center">
    {% for user in users %}
    <h1>
        {{ user.fname }} {{ user.lname }}'s posts
    </h1>
    </div>
    <ul>
        {% for note in user.notes %}
        <li>
            <a href="{{user.id}}/notes/{{note.id}}">{{ note.content }}</a>
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
